About Dataset

Context

The growth of supermarkets in most populated cities are increasing and market competitions are also high. The dataset is one of the historical sales of supermarket company which has recorded in 3 different branches for 3 months data. Predictive data analytics methods are easy to apply with this dataset.

Attribute information

Invoice id: Computer generated sales slip invoice identification number

Branch: Branch of supercenter (3 branches are available identified by A, B and C).

City: Location of supercenters

Customer type: Type of customers, recorded by Members for customers using member card and Normal for without member card.

Gender: Gender type of customer

Product line: General item categorization groups - Electronic accessories, Fashion accessories, Food and beverages, Health and beauty, Home and lifestyle, Sports and travel

Unit price: Price of each product in $

Quantity: Number of products purchased by customer

Tax: 5% tax fee for customer buying

Total: Total price including tax

Date: Date of purchase (Record available from January 2019 to March 2019)

Time: Purchase time (10am to 9pm)

Payment: Payment used by customer for purchase (3 methods are available â€“ Cash, Credit card and Ewallet)

COGS: Cost of goods sold

Gross margin percentage: Gross margin percentage

Gross income: Gross income

Rating: Customer stratification rating on their overall shopping experience (On a scale of 1 to 10)

Acknowledgements

Thanks to all who take time and energy to perform Kernels with this dataset and reviewers.

Purpose

This dataset can be used for predictive data analytics purpose.

In [14]:
# Standard Imports
!pip install seaborn
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import category_encoders as ce

Requirement already satisfied: seaborn in c:\users\user\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\user\anaconda3\lib\site-packages (from seaborn) (1.24.3)
Requirement already satisfied: pandas>=0.25 in c:\users\user\anaconda3\lib\site-packages (from seaborn) (2.0.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\user\anaconda3\lib\site-packages (from seaborn) (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\user\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.4.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.25->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)

In [30]:
df= pd.read_csv(r"D:\Projects and All\gitupload\upload-folders\DataScienceProject2\DataScienceProject\DataSciencePortfolio\Influencers_Analysis_for_Business_Purpose\social media influencers - instagram sep-2022.csv")
df= pd.read_csv(r"D:\Projects and All\gitupload\upload-folders\DataScienceProject2\DataScienceProject\DataSciencePortfolio\Influencers_Analysis_for_Business_Purpose\social media influencers - instagram.csv")
df= pd.read_csv(r"D:\Projects and All\gitupload\upload-folders\DataScienceProject2\DataScienceProject\DataSciencePortfolio\Influencers_Analysis_for_Business_Purpose\social media influencers - Tiktok sep 2022.csv")
df= pd.read_csv(r"D:\Projects and All\gitupload\upload-folders\DataScienceProject2\DataScienceProject\DataSciencePortfolio\Influencers_Analysis_for_Business_Purpose\social media influencers - tiktok.csv")
df= pd.read_csv(r"D:\Projects and All\gitupload\upload-folders\DataScienceProject2\DataScienceProject\DataSciencePortfolio\Influencers_Analysis_for_Business_Purpose\social media influencers - Youtube sep-2022.csv")
df= pd.read_csv(r"D:\Projects and All\gitupload\upload-folders\DataScienceProject2\DataScienceProject\DataSciencePortfolio\Influencers_Analysis_for_Business_Purpose\social media influencers - youtube.csv")
df= pd.read_csv(r"D:\Projects and All\gitupload\upload-folders\DataScienceProject2\DataScienceProject\DataSciencePortfolio\Influencers_Analysis_for_Business_Purpose\social media influencers-INSTAGRAM - -DEC 2022.csv")
df= pd.read_csv(r"D:\Projects and All\gitupload\upload-folders\DataScienceProject2\DataScienceProject\DataSciencePortfolio\Influencers_Analysis_for_Business_Purpose\social media influencers-instagram - -nov 2022.csv")
df= pd.read_csv(r"D:\Projects and All\gitupload\upload-folders\DataScienceProject2\DataScienceProject\DataSciencePortfolio\Influencers_Analysis_for_Business_Purpose\social media influencers-instagram june 2022 - june 2022.csv")
df= pd.read_csv(r"D:\Projects and All\gitupload\upload-folders\DataScienceProject2\DataScienceProject\DataSciencePortfolio\Influencers_Analysis_for_Business_Purpose\social media influencers-TIKTOK - ---DEC 2022.csv")
df= pd.read_csv(r"D:\Projects and All\gitupload\upload-folders\DataScienceProject2\DataScienceProject\DataSciencePortfolio\Influencers_Analysis_for_Business_Purpose\social media influencers-tiktok - ---nov 2022.csv")
df= pd.read_csv(r"D:\Projects and All\gitupload\upload-folders\DataScienceProject2\DataScienceProject\DataSciencePortfolio\Influencers_Analysis_for_Business_Purpose\social media influencers-tiktok june 2022 - june 2022.csv")
df= pd.read_csv(r"D:\Projects and All\gitupload\upload-folders\DataScienceProject2\DataScienceProject\DataSciencePortfolio\Influencers_Analysis_for_Business_Purpose\social media influencers-YOUTUBE - --DEC 2022.csv")
df= pd.read_csv(r"D:\Projects and All\gitupload\upload-folders\DataScienceProject2\DataScienceProject\DataSciencePortfolio\Influencers_Analysis_for_Business_Purpose\social media influencers-tiktok june 2022 - june 2022.csv")
df= pd.read_csv(r"D:\Projects and All\gitupload\upload-folders\DataScienceProject2\DataScienceProject\DataSciencePortfolio\Influencers_Analysis_for_Business_Purpose\social media influencers-youtube - --nov 2022.csv")
df= pd.read_csv(r"D:\Projects and All\gitupload\upload-folders\DataScienceProject2\DataScienceProject\DataSciencePortfolio\Influencers_Analysis_for_Business_Purpose\social media influencers-youtube june 2022 - june 2022.csv")

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [17]:
df['date'] = pd.to_datetime(df['Date'])
df['date'].dtype
df['date'] = pd.to_datetime(df['date'])
df['day'] = (df['date']).dt.day
df['month'] = (df['date']).dt.month
df['year'] = (df['date']).dt.year
del(df["date"])

In [18]:
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,day,month,year
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,5,1,2019
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6,8,3,2019
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4,3,3,2019
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4,27,1,2019
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3,8,2,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2,29,1,2019
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4,2,3,2019
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7,9,2,2019
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1,22,2,2019
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6,18,2,2019

In [19]:
df['Time'] = pd.to_datetime(df['Time'])
df['Hour'] = (df['Time']).dt.hour
df['Hour'].unique()

C:\Users\User\AppData\Local\Temp\ipykernel_7240\2169082730.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Time'] = pd.to_datetime(df['Time'])

array([13, 10, 20, 18, 14, 11, 17, 16, 19, 15, 12])

In [20]:
categorical_columns = [cname for cname in df.columns if df[cname].dtype == "object"]
categorical_columns

['Invoice ID',
 'Branch',
 'City',
 'Customer type',
 'Gender',
 'Product line',
 'Date',
 'Payment']

In [21]:


print("A detailed description of the dataset ")
d = df.describe().T
d

A detailed description of the dataset

,count,mean,min,25%,50%,75%,max,std
Unit price,1000.0,55.67213,10.08,32.875,55.23,77.935,99.96,26.494628
Quantity,1000.0,5.51,1.0,3.0,5.0,8.0,10.0,2.923431
Tax 5%,1000.0,15.379369,0.5085,5.924875,12.088,22.44525,49.65,11.708825
Total,1000.0,322.966749,10.6785,124.422375,253.848,471.35025,1042.65,245.885335
Time,1000,2024-05-30 15:24:41.880000,2024-05-30 10:00:00,2024-05-30 12:43:00,2024-05-30 15:19:00,2024-05-30 18:15:00,2024-05-30 20:59:00,NaN
cogs,1000.0,307.58738,10.17,118.4975,241.76,448.905,993.0,234.17651
gross margin percentage,1000.0,4.761905,4.761905,4.761905,4.761905,4.761905,4.761905,0.0
gross income,1000.0,15.379369,0.5085,5.924875,12.088,22.44525,49.65,11.708825
Rating,1000.0,6.9727,4.0,5.5,7.0,8.5,10.0,1.71858
day,1000.0,15.256,1.0,8.0,15.0,23.0,31.0,8.693563
month,1000.0,1.993,1.0,1.0,2.0,3.0,3.0,0.835254
year,1000.0,2019.0,2019.0,2019.0,2019.0,2019.0,2019.0,0.0
Hour,1000.0,14.91,10.0,12.0,15.0,18.0,20.0,3.186857

In [22]:


print("According to customer satisfaction level, the supermarket is ",end=": ")
if(d.iloc[-1,1]>5.0):
    print("Good")
else:
    print("Poor")

According to customer satisfaction level, the supermarket is : Good

In [ ]:
plt.figure(figsize=(20,7))
sns.countplot(df['Gender'])

In [ ]:
 sns.boxplot(x="Branch", y = "Rating" ,data =df).set_title("Ratings by Branch")

In [ ]:
cat=df[["Product line", "Rating"]].groupby(['Product line'], as_index=False).mean().sort_values(by='Rating', ascending=False)
plt.figure(figsize=(20,8))

sns.barplot(x='Product line', y='Rating', data=cat)

In [ ]:
cat=df[["Product line", "gross income"]].groupby(['Product line'], as_index=False).sum().sort_values(by='gross income', ascending=False)
plt.figure(figsize=(20,8))

sns.barplot(x='Product line', y='gross income', data=cat)

In [ ]:
sns.lineplot(x="Hour",  y = 'Quantity',data =df).set_title("Product Sales per Hour")

In [ ]:
sns.relplot(x="Hour",  y = 'Quantity', col= 'month' , row= 'Branch', kind="line", hue="Gender", style="Gender", data =df)

In [ ]:
sns.relplot(x="Hour",  y = 'Total', col= 'month' , row= 'Branch', estimator = None, kind="line", data =df)

In [ ]:
sns.boxenplot(y = 'Product line', x = 'Quantity', data=df )

In [ ]:
plt.figure(figsize=(20,7))
sns.barplot(df['Branch'],df['gross income'])
plt.xlabel('Branch code/ branch name',fontsize='16')
plt.xticks(fontsize='16')
plt.ylabel('Gross income',fontsize='16')
plt.yticks(fontsize='16')
plt.suptitle("Most profittable centre judgement\n",fontsize='20',fontweight='bold')

In [ ]:
plt.figure(figsize=(20,7))
sns.barplot(df['City'],df['gross income'],palette='Set1')
plt.xlabel('City name',fontsize='16')
plt.xticks(fontsize='16')
plt.ylabel('Gross income',fontsize='16')
plt.yticks(fontsize='16')
plt.suptitle("Most profittable city judgement\n",fontsize='20',fontweight='bold')

In [ ]:
sns.countplot(y = 'Product line', data=df, order = df['Product line'].value_counts().index )

In [ ]:
sns.boxenplot(y = 'Product line', x = 'Rating', data=df )

In [ ]:
 sns.countplot(x="Payment", data =df).set_title("Payment Mode")

In [ ]:
 sns.countplot(x="Payment", hue = "Branch", data =df).set_title("Payment Channel by Branch")

In [ ]:
 sns.countplot(x="Customer type", hue = "Branch", data =df).set_title("Customer Type by Branch")

In [ ]:
df.groupby(['Customer type']).agg({'Total': 'sum'})

In [ ]:
sns.swarmplot(x="Customer type",  y = "Rating",  hue = "City", data =df).set_title("Customer Type")

In [ ]:
plt.figure(figsize=(12,6),dpi=100)
sns.regplot(x='Unit price',y='gross income',data=df,color='blue')
plt.xlabel('Unit Price')
plt.ylabel('Gross Income')
plt.title('Unit Price v Gross Income',fontsize=15)
plt.show()

In [ ]:
numerical = ['cogs','Quantity','gross income','Total']

In [ ]:
df[numerical].hist(bins=25, figsize=(20,10), layout=(2, 2))

In [ ]:
matrix = np.triu(df.corr())
plt.figure(figsize=(12,6),dpi=100)
sns.heatmap(df.corr(), annot=True, mask=matrix)

In [ ]:
plt.figure(dpi=125)
sns.countplot(y ='Product line', hue = "City", data = df) 
plt.xlabel('Count')
plt.ylabel('Product Type')
plt.show()

In [ ]:
plt.figure(figsize=(12,6),dpi=100)
sns.regplot(x='Quantity',y='cogs',data=df,color='blue')
plt.xlabel('Quantity')
plt.ylabel('Cost of Goods Sale')
plt.title('Quantity v Cost of Goods Sale',fontsize=15)
plt.show()

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X = df.iloc[:, -8].values.reshape(-1,1)

In [ ]:
from sklearn.cluster import KMeans
wcss = []
for i in range(1, 11):
    kmeans = KMeans(n_clusters = i, init = 'k-means++', random_state = 42)
    kmeans.fit(X)
    wcss.append(kmeans.inertia_)
plt.figure(figsize=(20,7))
plt.plot(range(1, 11), wcss)
plt.title('The Elbow Method')
plt.xlabel('Number of clusters')
plt.ylabel('WCSS')
plt.show()

In [ ]:
# Training the K-Means model on the dataset
kmeans = KMeans(n_clusters = 5, init = 'k-means++', random_state = 42)
y_kmeans = kmeans.fit_predict(X)

In [ ]:


plt.figure(figsize=(20,8))
plt.scatter(X[y_kmeans == 0,0], X[y_kmeans == 0], s = 100, c = 'red', label = 'Lower Class')
plt.scatter(X[y_kmeans == 1,0], X[y_kmeans == 1], s = 100, c = 'blue', label = 'Upper Lower Class')
plt.scatter(X[y_kmeans == 2,0], X[y_kmeans == 2], s = 100, c = 'green', label = 'Medium Class')
plt.scatter(X[y_kmeans == 3,0], X[y_kmeans == 3], s = 100, c = 'cyan', label = 'Upper Medium Class')
plt.scatter(X[y_kmeans == 4,0], X[y_kmeans == 4], s = 100, c = 'magenta', label = 'Upper Class5')
plt.title('Clusters of customers')
plt.xlabel('Total expenditure')
plt.ylabel('COGs earned')
plt.legend()
plt.show(