#### scenario based SQL Practice

##### Scenario: Analyzing Customer Data for an E-commerce Platform

You've recently joined the analytics team of an e-commerce platform that sells a variety of products online. Your manager has tasked you with analyzing the customer data to provide insights that can improve the company's marketing strategies and customer experience. You have been given access to a SQL database containing several tables related to customers, orders, products, and transactions. Below are a series of tasks you need to accomplish, starting from basic queries to more advanced ones, which simulate the types of questions you might encounter in an interview:

question 01 : Retrieve all columns from the Customers table

In [ ]:
SELECT * FROM Customers;

question 02 : Display only the names and email addresses of customers

In [ ]:
SELECT name, email FROM Customers;

question 03 :Find the total number of customers in the database

In [ ]:
SELECT COUNT(*) FROM Customers

question 04 :Count the number of customers who have placed at least one order.

In [ ]:
SELECT COUNT(DISTINCT customer_id) FROM Orders;

question 05 :Display the unique countries from where customers have placed orders.

In [ ]:
SELECT DISTINCT country FROM Orders;

question 06 :Find the total revenue generated by the e-commerce platform.

In [ ]:
SELECT SUM(total_amount) AS total_revenue FROM Orders

question 07 :Calculate the average order value (AOV) of the orders.

In [ ]:
SELECT AVG(total_amount) AS average_order_value FROM Orders;

question 08 :Identify the top 5 customers based on the total amount they've spent.

In [ ]:
SELECT customer_id, SUM(total_amount) AS total_spent
FROM Orders
GROUP BY customer_id
ORDER BY total_spent DESC
LIMIT 5;

question 09 :List the products that have never been ordered.

In [ ]:
 SELECT * FROM Products WHERE product_id NOT IN (SELECT DISTINCT product_id FROM Orders);

question 10 :Display the number of orders placed each month.

In [ ]:
SELECT DATE_FORMAT(order_date, '%Y-%m') AS month, COUNT(*) AS num_orders
FROM Orders
GROUP BY month;

question 11 :Calculate the customer retention rate for the last quarter.

In [ ]:
Customer Retention Rate:

    Calculate the number of customers who made a purchase in the last quarter.
    Calculate the number of customers from the previous quarter who made a purchase in the current quarter.
    Divide the second number by the first number and multiply by 100 to get the retention rate.

question 12 :Identify the products with the highest and lowest sales quantities.

In [ ]:
SELECT product_id, MAX(quantity_ordered) AS max_quantity, MIN(quantity_ordered) AS min_quantity
FROM OrderDetails
GROUP BY product_id
ORDER BY max_quantity DESC, min_quantity ASC;

question 13 :Find the month with the highest revenue.

In [ ]:
SELECT DATE_FORMAT(order_date, '%Y-%m') AS month, SUM(total_amount) AS total_revenue
FROM Orders
GROUP BY month
ORDER BY total_revenue DESC
LIMIT 1;

question 14 : List the customers who have not placed any orders in the last six months.

In [ ]:
SELECT *
FROM Customers
WHERE customer_id NOT IN (SELECT DISTINCT customer_id FROM Orders WHERE order_date >= DATE_SUB(CURRENT_DATE, INTERVAL 6 MONTH));

question 15 :Implement a cohort analysis to understand customer behavior over time

In [ ]:
Cohort Analysis:

    Break down customers into cohorts based on their sign-up date.
    Analyze the behavior of each cohort over time (e.g., monthly or quarterly).
    Calculate metrics such as retention rate, average order value, and purchase frequency for each cohort.

In [ ]:
i hope this scenario will make your understanding stronger about SQL Quries .

In [ ]:
Provided by -

Rabbi Islam Yeasin Bhambani 
Enginner of Computer Science
IBM Certified Data Scientist 
rabbi.yeasin-arena.com